<!-- modal-->

          <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-success btn-circle pull-right" data-toggle="modal" data-target="#add_3mf_to_{{cad.id}}"><i class="glyphicon glyphicon-plus"></i></button>
            <!-- Modal -->
            <div id="add_3mf_to_{{cad.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload new 3MF</h4>
                  </div>
                  <div class="modal-body">






                      <form action="add-3mf/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}
                         <input type="hidden" name="cad_id" value="{{cad.id}}">

                        <div class="form-group">
                          <label for="cad">AMF</label>
                          <input type="file" class="form-control-file" id= "amf" name="amf" aria-describedby="fileHelp", accept=".amf", required>
                          <label class="form-check-label text-light">

                          </label>
                        </div>

                        <div class="form-group">
                          <label for="cad">Config</label>
                          <input type="file" class="form-control-file" id= "config" name="config" aria-describedby="fileHelp", accept=".ini", required>
                          <label class="form-check-label text-light">

                          </label>
                        </div>

                        <div class="form-group">
                          <label for="configb">Config Bundle</label>
                          <input type="file" class="form-control-file" id= "configb" name="configb" aria-describedby="fileHelp",  accept=".ini", required>
                          <label class="form-check-label text-light">

                          </label>
                        </div>

                        <div class="form-group">
                          <label for="gcode">Gcode</label>
                          <input type="file" class="form-control-file" id= "gcode" name="gcode" aria-describedby="fileHelp",  accept=".gcode", required>
                          <label class="form-check-label text-light">

                          </label>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Submit</button>

                      </form>







                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

<!-- end of modal  -->
