
          <!-- Trigger the modal with a button -->
            <button id="add_client" type="button" style="margin-right:10px" class="btn btn-info btn-sm btn-lg pull-right" data-toggle="modal" data-target="#modal-add-client">+ client</button>
            <!-- Modal -->
            <div id="modal-add-client" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Client</h4>
                  </div>
                  <div class="modal-body">

                      <form action="/parts/add-client/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}

                        <div class="form-group">
                          <label for="part-number">Client name</label>
                          <input type="text" class="form-control" name="client-name" id="client-name" aria-describedby="" placeholder="Enter client Name" required>
                          <small id="" class="form-text text-muted">choose non-existent client name</small>
                        </div>

                        <div class="form-group">
                          <label for="part-number">Contact name</label>
                          <input type="text" class="form-control" name="contact-name" id="contact-name" aria-describedby="" placeholder="Enter Name of primary contact" required>
                          <small id="" class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                          <label for="part-name">email</label>
                          <input type="email" class="form-control" name="email" id="email" aria-describedby="" placeholder="Enter contact email" required>
                          <small id="" class="form-text text-muted"></small>
                        </div>

                        <div class="form-group">
                          <label for="part-name">Activity</label>
                          <input type="text" class="form-control" name="activity" id="activity" aria-describedby="" placeholder="Enter client Activity" required>
                          <small id="" class="form-text text-muted"></small>
                        </div>

                        <!-- <div class="form-group">
                          <label for="oem">Activity</label>
                          <select class="form-control" name="activity" id="activity">
                            {%if oems%}
                                {%for oem in oems%}
                                    <option>{{oem.name}}</option>
                                {%endfor%}
                            {%endif%}
                          </select>
                        </div> -->

                        <div class="form-group">
                          <label for="address">Address</label>
                          <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                        </div>



                        <div class="form-group">
                          <label for="notes">Notes</label>
                          <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                        </div>
                        <!-- add a cad at the same time -->

                        <!-- <div class="form-group">
                          <label for="cad">CAD</label>
                          <input type="file" class="form-control-file" id="cad" name="cad" aria-describedby="fileHelp">
                          <label class="form-check-label text-light">
                            <input type="checkbox" name="is_oem" class="form-check-input">
                            this CAD is the reference OEM CAD
                          </label>
                        </div> -->
                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                      </form>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
