{% load static %}
{% load tz %}
{% load app_filters %}
{% load notifications_tags %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <!-- don't chnge title, linked to javascript -->
  <title>SpareParts3D - Orders</title>
  <!-- Bootstrap css and js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  {% load staticfiles %}
  <link href="{% static 'parts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'parts/css/style.css' %}" />
  <link href="{% static 'parts/css/sb-admin.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'parts/favicon.ico' %}"/>
  <link href="{% static 'parts/css/bootstrap-editable.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>
  {% include "utils/navbar.html" %}

  <div id="catalogue">



<div class="row">
        <h1>Order Detail</h1>
</div>

<div class="row">
    <!-- RFQ -->
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix">
                {%if not order.status_ord == 3 %}
                {%if permission == 1%}
                {%include "utils/modals/update-order.html"%}
                {%endif%}
                {%endif%}
                <h3 style="margin-top:5px" class="panel-title pull-right">Order<i class="fa fa-fw fa-info-circle"></i></h3>
            </div>
                <div class="list-group">

                    <div class="list-group-item">
                        <i class="fa fa-fw fa-lock"></i>
                        <span> <b>Order id: </b> {{order.id}} </span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-arrow-right"></i>
                        <span> <b>Name: </b> <span id="order-name">{{order.name}}</span></span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-circle-o"></i>
                        <span> <b>Type: </b> <span id="order-type">{{order.type}}</span></span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-calendar"></i>
                        <span class=""><b>Creation Date:</b> {{order.creation_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-calendar-o"></i>
                        <span><b style="color:red">Due Date:</b> <span id="order-due-date">{{order.due_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span></span>
                        <span class="badge due_date">{{order.due_date|timezone:"Asia/Singapore"|get_due_date_string}}</span>
                    </div>

                    {%for user in users%}
                    {%if user.id == order.assigned_to%}
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-user"></i>
                        <span id="order-assigned-to" style="display:None" >{{user.id}}</span>
                        <span> <b>Assigned to #: </b>{{user.first_name}} {{user.last_name}}</span>
                    </div>
                    {%endif%}
                    {%endfor%}
                    <!-- <div class="list-group-item">
                        <i class="fa fa-fw fa-edit"></i>
                        <span><b>Notes: </b><span class="notes-editable" id="order-notes" data-type="text" data-pk="{{order.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'order'}" data-url="/parts/ajax/update-notes/">{{order.notes}}</span></span>
                    </div> -->
                    {%if order.type == "quote"%}
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-asterisk"></i>
                        <span> <b>Quote #: </b><span id="order-quote-number">{{order.quote_number}}</span></span>
                    </div>
                    {%endif%}
                    {%if order.type == "prod" or order.type == "sample"%}
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-asterisk"></i>
                        <span> <b>PO #: </b><span id="order-po-number">{{order.po_number}}</span></span>
                    </div>
                    {%endif%}
                    {%if order.status_ord == 3%}

                    <div class="list-group-item">
                        <i class="fa fa-fw fa-calendar-o"></i>
                        <span><b style="color:green">Closed Date:</b> <span id="order-completion-date">{{order.completion_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span></span>
                        <span class="badge completion_date">{{order.completion_date|timezone:"Asia/Singapore"|get_due_date_string}}</span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-user"></i>
                        <span> <b>Closed by </b><span id="order-po-number">{%for user in users%}{%if user.id == order.closed_by %} {{user.first_name}} {{user.last_name}}{%endif%}{%endfor%}</span></span>
                    </div>
                    {%endif%}


                    {%if request.user.id == 1%}
                    <!-- <button type="button" value="{{order.id}}" class="btn btn-danger btn-circle pull-right"><i class="glyphicon glyphicon-remove"></i></button> -->
                    {%endif%}


                </div>
        </div>

        <!-- bulk files -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title"><i class="fa fa-files-o fa-fw"></i> Bulk Files</h3>
            </div>


            <div class="panel-body dropzone" action="/parts/add-bulk/" style="min-height:100px" id="bulk-dropzone">
                <input type="hidden" id="id_order" name="id_order" value="{{order.id}}">
                <input type="hidden" id="notes" name="notes" value="">
                <input type="hidden" id="bulk_type" name="bulk_type" value="order">
                <div class="dz-message" data-dz-message><span>DROP THAT  HERE</span></div>
                <div class="list-group">
                    {% if bulk_files %}
                    {% for bulk_file in bulk_files %}
                    <div href="/parts/download_bulk/{{bulk_file.id}}/" class="list-group-item">
                        <span class="badge">{{bulk_file.creation_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span>
                        <a href="/parts/download_bulk/{{bulk_file.id}}/">
                            <i class="fa fa-fw fa-cloud-download"></i> {{bulk_file.name}} -
                        </a>
                            <small>Notes: <span class="notes-editable" data-type="text" data-pk="{{bulk_file.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'bulk'}" data-url="/parts/ajax/update-notes/">{{bulk_file.notes}}</span></small>

                    </div>
                    {%if request.user.id == 1%}
                    <button type="button" value="{{bulk_file.id}}" class="btn btn-danger btn-circle pull-right delete-bulk"><i class="glyphicon glyphicon-remove"></i></button>
                    {%endif%}
                    {% endfor %}
                    {%else%}
                        <span> Drag File Here</span>
                    {% endif %}
                </div>
                <!-- <div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div> -->
            </div>
        </div>

    </div>
    <!-- Client -->
    <div class="col-lg-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-right">Client<i class="fa fa-fw fa-info-circle"></i></h3>
            </div>
                <div class="list-group">

                    <div class="list-group-item">
                        <i class="fa fa-fw fa-coffee"></i>
                        <span> <b>Client: </b>{{client.name}}</span>
                    </div>
                    <!-- <div class="list-group-item">
                        <i class="fa fa-fw fa-user"></i>
                        <span> <b>Contact: </b>{{client.primary_contact_name}}</span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-at"></i>
                        <span> <b>email: </b>{{client.primary_contact_email}}</span>
                    </div> -->
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-cog"></i>
                        <span> <b>Activity: </b>{{client.activity}}</span>
                    </div>
                    <div class="list-group-item">
                        <i class="fa fa-fw fa-home"></i>
                        <span> <b>Address: </b>{{client.address}}</span>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="row">
                        <div class="col-lg-5 col-sm-5">
                            <h3 class="panel-title" style="margin-top:5px"><i class="fa fa-fw fa-info"></i>Contact</h3>
                        </div>
                        <div class="col-lg-5 col-sm-5">
                            <form action="/parts/change-order-contact/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}
                                <div class="form-group" style="max-height:20px">
                                    <input type="hidden" name="id-order" value="{{order.id}}">
                                    <select class="form-control" name="id-contact" id="id-contact" onchange="this.form.submit()" required>
                                            <option>choose</option>
                                            {%for contact in contacts%}
                                            <option value="{{contact.id}}">{{contact.prefix}} {{contact.first_name}} {{contact.last_name}}</option>
                                            {%endfor%}
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            {%if permission == 1%}
                            {% include "utils/modals/add-contact.html" %}
                            {%endif%}
                        </div>
                    </div>

                </div>
                {%for contact in contacts%}
                {%if contact.id == order.id_contact%}
                    <div class="list-group">

                        <div class="list-group-item">
                            <i class="fa fa-fw fa-user"></i>
                            <span> <b>first name: </b>{{contact.prefix}} {{contact.first_name}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-user"></i>
                            <span> <b>last name: </b>{{contact.last_name}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-rocket"></i>
                            <span> <b>position: </b>{{contact.position}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-at"></i>
                            <span> <b>email: </b>{{contact.email}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-phone"></i>
                            <span> <b>personal phone: </b>{{contact.phone_perso}}</span>
                        </div>
                        <div class="list-group-item">
                            <i class="fa fa-fw fa-phone"></i>
                            <span> <b>office phone: </b>{{contact.phone_office}}</span>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                </div>

        </div>

        <!-- Parts -->
        <div class="col-lg-4 col-sm-6">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix" >
                    <div class="row">
                        <div class="col-lg-1 col-sm-1">
                            {%if not order.status_ord == 3%}
                            {%if permission == 1%}
                            {%include "utils/modals/part-to-order.html"%}
                            {%endif%}
                            {%endif%}
                        </div>
                        <div class="col-lg-1 col-sm-1">
                            {%if not order.status_ord == 3%}
                            {%if permission == 1%}
                            <button id="add_part" type="button" class="btn btn-default btn-circle" style="margin-left:0px" data-toggle="modal" data-target="#modal-add-part"><i class="fa fa-fw fa-plus"></i></button>
                            {% include "utils/modals/add-part.html" %}
                            {%endif%}
                            {%endif%}
                        </div>
                        <div class="col-lg-10 col-sm-10">
                            <h3 class="panel-title pull-right" style="margin-top:5px">Parts<i class="fa fa-fw fa-info-circle"></i></h3>
                        </div>
                    </div>
                </div>
                    <div class="list-group">
                        <div class="list-group-item" style="border: solid red">
                            <div style="position:inline-block">
                            <i class="fa fa-fw fa-edit"></i>
                            <span><b>Notes: </b></span>
                            </div>
                            <span><span class="notes-editable" id="order-notes" data-type="textarea" data-pk="{{order.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'order'}" data-url="/parts/ajax/update-notes/">{{order.notes}}</span></span>
                        </div>
                        {% if parts %}
                        {% for part in parts %}

                        <div href="" class="list-group-item">
                            {% for status in status_eng_list %}
                            {% if status.id == part.status_eng %}
                            <span class="label label-{{status.id}} pull-right" style="height:17px; margin-left:4px;padding-top:4px">{{status.name}}</span>
                            {%endif%}
                            {%endfor%}
                            <span class="badge due_date">{{part.creation_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span>

                            <!-- <span class="badge">{{order.creation_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span> -->
                            <small class="pull-right" style="margin-right:5px"><i>{{part.part_number}}</i></small>
                            <h5 style="margin-bottom:5px;margin-top:0px"><a href="/parts/part-detail/{{part.id}}"><i class="fa fa-fw fa-cube"></i> {{part.id}} : {{part.part_name}} </a>- <small>{{part.oem_name}}</small></h5>

                            <!-- <small class="pull-right">{{part.part_number}}</small> -->
                            <!-- plus minus quantitty -->
                            <div class="row">
                                <div class="col-lg-8 col-sm-8">
                                <small style="margin-left:20px">Notes: <span class="notes-editable" data-type="text" data-pk="{{part.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'part'}" data-url="/parts/ajax/update-notes/">{{part.notes}}</span></small>
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <div class="input-group" style="margin-top:3px;" >
                                        {%if permission%}
                                            <span class="input-group-btn">
                                                <button type="button" id="minus-{{part.id}}" class="quantity-left-minus btn btn-default btn-number btn-sm"  data-type="minus" data-field="">
                                                  <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            {%for key, value in parts_qtty.items%}
                                            {%if key == part.id|stringformat:"i"%}
                                            <input type="text" id="quantity-{{part.id}}" name="quantity-{{part.id}}" class="form-control input-quantity input-sm" value="{{value}}" min="0" max="300">
                                            <input type="hidden" id="order-id" name="order-id" value={{order.id}}>
                                            {% endif %}
                                            {% endfor %}
                                            <span class="input-group-btn">
                                                <button type="button" id="plus-{{part.id}}" class="quantity-right-plus btn btn-default btn-number btn-sm" data-type="" data-field="">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        {%else%}
                                            {%for key, value in parts_qtty.items%}
                                            {%if key == part.id|stringformat:"i"%}
                                                <span>Quantity: <b>{{value}}
                                            {% endif %}
                                            {% endfor %}
                                        {%endif%}
                                        <span class="input-group-btn">
                                            <button type="button" id="save-{{part.id}}" class="btn btn-success btn-number btn-sm save-qtty" style="display:None" data-type="plus" data-field="">
                                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                            </button>
                                        </span>
                                    </div>

                                </div>

                            </div>
                        </div>
                        {%if superpermission%}
                        <button type="button" value="{{order.id}}-{{part.id}}" class="btn btn-danger btn-circle pull-right delete-order-part"><i class="glyphicon glyphicon-remove"></i></button>
                        {%endif%}

                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

</div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.7.2/jquery-ui.min.js" integrity="sha256-4h4SHCCUAKFl7xWF9JeZp9tnU8lmM5bt6G3kNK6E4ek=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="{% static 'parts/js/dropzone.js' %}"></script>
    <script src="{% static 'parts/js/printer_state.js' %}"></script>
    <script src="{% static 'parts/js/orders.js' %}"></script>
    <script src="{% static 'parts/js/order-detail.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script src="{% static 'parts/js/bootstrap-editable.js' %}"></script>
    {% if error %}
        <script>
        alert(error);
        </script>
    {% endif %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'parts/js/notifications.js' %}"></script>
    {% register_notify_callbacks refresh_period=10 fetch=100 callbacks='fill_notification_list_custom,fill_notification_badge'   %}
</body>
</html>
