{% load static %}
{% load app_filters %}
{% load tz %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Print Logs</title>
  <!-- Bootstrap css and js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  {% load staticfiles %}
  <link href="{% static 'parts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'parts/css/style.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'parts/favicon.ico' %}"/>
</head>

<body>
  <div id="catalogue">
  </br>
  <h1>Prints Log</h1>
  {% include "utils/navbar.html" %}

  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
  <!-- Table starts here -->
    <table  class="table table-condensed table-bordered table-hover" data-toggle="table"   data-sort-order="desc" data-search="true" data-sort-name="date" data-search-text="">
                <thead >
                  <tr>
                    <th data-field="id" class="col-xs-0">id</th>
                    <th data-field="part_id" data-sortable="true" class="col-xs-0">Part Id</th>
                    <th data-field="part_name" data-sortable="true" class="col-xs-2">Part Name</th>
                    <th data-field="amf_number" data-sortable="true" class="col-xs-1">AMF</th>
                    <th data-field="printer" data-sortable="true" class="col-xs-1">Printer</th>
                    <th data-field="location" data-sortable="false" class="col-xs-2">Location</th>
                    <th data-field="created_by" data-sortable="true" class="col-xs-1">created by</th>
                    <th data-field="date" data-sortable="true" class="col-xs-2">on</th>
                    <th data-field="date_finished" data-sortable="true" class="col-xs-2">ended</th>
                    <th data-field="print_time" data-sortable="true" class="col-xs-1">time</th>
                    <th data-field="status" data-sortable="true" class="col-xs-1">finished</th>
                    <th data-field="complete" data-sortable="true" class="col-xs-0">complete</th>

                  </tr>
                </thead>
                <tbody>
                  {%if latest_print_list%}
                      {%for print in latest_print_list %}

                          <tr>
                            <td scope="row" class="align-middle"><b>{{print.id}}</b></td>
                            <td class="align-middle">{{print.id_part}}</td>
                            {% for part in parts %}
                            {% if part.id == print.id_part %}
                            <td class="align-middle">{{part.part_name}}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="align-middle">{{print.id_3mf}}</td>
                            {% for printer in printers %}
                            {% if printer.id == print.id_printer %}
                                <td class="align-middle">{{printer.name}}</td>
                                <td class="align-middle">{{printer.location}}</td>
                            {% endif %}
                            {% endfor %}
                            {% for user in users %}
                            {% if user.id == print.id_creator %}
                                <td class="align-middle">{{user.first_name}}</td>
                            {% endif %}
                            {% endfor %}
                            <td class="align-middle">{{print.creation_date|timezone:"Asia/Singapore"|date:"M d, H:i:s"}}</td>
                            <td class="align-middle">{{print.finished_date|timezone:"Asia/Singapore"|date:"H:i:s"}}</td>
                            <td class="align-middle">{%if print.printing_time%}{{print.printing_time|seconds_to_duration}}{%endif%}</td>
                            <td class="align-middle">{% if print.done %} <a href="{% url 'parts:download_log' id_print=print.id %}">finished </a>{% else %} printing {% endif %}</td>
                            <td class="align-middle">
                                {%if print.done %}
                                    {% if print.completed %}<span class="label label-success">complete</span>
                                    {% else %}<span class="label label-danger">incomplete</span>{%endif%}
                                {%else%}
                                <span class="label label-warning">printing</span>
                                {%endif%}
                            </td>

                          </tr>
                        {%endfor%}
                  {%endif%}
                </tbody>
              </table>

          </div>
  </div>

</div>

<!--     <script src="js/index.js"></script> -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

</script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.15/js/jquery.tablesorter.widgets.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

<script src="{% static 'parts/js/printer_state.js' %}"></script>
<script src="{% static 'parts/js/part-search.js' %}"></script>
{% if error %}
    <script>
    alert(error);
    </script>
{% endif %}
</html>
