{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SpareParts3D - Catalogue</title>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
  <!-- Bootstrap css and js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% load staticfiles %}
  <link href="{% static 'parts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'parts/css/style.css' %}" />
  <script>
        $(function(){
          $("#table").tablesorter();
        });
  </script>
  <link rel="shortcut icon" type="image/png" href="{% static 'parts/favicon.ico' %}"/>
</head>

<body>
  <div id="catalogue">
  <h1>Prints Log</h1>
  {% include "utils/navbar.html" %}
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-orange tablesorter">
      <thead>
        <tr>
          <th>ID</th>
          <th>Creation Date</th>
          <th>printer Id</th>
          <th>Printer name</th>
          <th>Part ID</th>
          <th>amf</th>
          <th>Print Log</th>
          <th>Print Again</th>
        </tr>
      </thead>
      <tbody>
          {% if latest_print_list %}
              {% for print in latest_print_list %}
                  <tr>
                      <td data-title="ID">{{ print.id }}</td>
                      <td data-title="creation_date">{{ print.creation_date|date:"m/d/Y H:i:s" }}</td>
                      <td data-title="id_printer">{{ print.id_printer }}</td>
                      <td data-title="printer_name"></td>
                      <td data-title="id_part">{{ print.id_part }}</td>
                      <td data-title="amf"></td>
                      <td data-title="Print Log">log id</td>
                      <td data-title="Print Again"><a href="#">Print Again</a></td>
                  </tr>
              {% endfor %}

          {% else %}
              <p>No polls are available.</p>
          {% endif %}
      </tbody>
    </table>
  </div>

</div>

<!--     <script src="js/index.js"></script> -->

</body>
</html>
