<!-- source code -->
<!-- https://github.com/BlackrockDigital/startbootstrap-sb-admin -->
{% load static %}
{% load tz %}
{% load app_filters %}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <title>Part Detail</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'jb/css/style.css' %}" />
    <link href="{% static 'jb/css/sb-admin.css' %}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{% static 'jb/css/plugins/morris.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'jb/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="{% static 'jb/css/dropzone.css' %}" rel="stylesheet" type="text/css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->
    <link href="{% static 'jb/css/bootstrap-editable.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="{% static 'jb/favicon.ico' %}"/>

</head>

<body>

    <!-- <div id="wrapper"> -->

        <!-- Navigation1 -->
        {% include "utils/navbar.html" %}

{%include "utils/modals/printers-modal.html"%}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- /.row alert-->
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like this awesome cloud ?</strong> Give <a href="mailto:thibault.de-saint-sernin@sp3d.co?Subject=Cloud%20feedback" class="alert-link">Feedback</a> to the admin !
                        </div>
                        {%if superpermission%}
                        <button type="button" value="{{part.id}}" class="btn btn-danger btn-circle pull-right delete-part"><i class="glyphicon glyphicon-remove"></i></button>
                        {%endif%}
                    </div>
                </div> -->
                {%if superpermission%}
                <button type="button" value="{{part.id}}" class="btn btn-danger btn-circle pull-right delete-part"><i class="glyphicon glyphicon-remove"></i></button>
                {%endif%}

                <div class="row">
                    <div class="col-lg-3 text-center"><h5><b>OEM : </b>{{part.oem_name}}</h5></div>
                    <div class="col-lg-3 text-center"><h5><b>Part Number :  </b>{{part.part_number}}</h5></div>
                    <div class="col-lg-3 text-center"><h5><b>Part Id : </b>{{part.id}}</h5></div>
                    <div class="col-lg-3 text-center"><h5><b>Part Name : </b>{{part.part_name}}</h5></div>
                </div>
            </br>


            <div class="row">
                <div class="col-lg-12">
                    <span> Notes:</span>
                    <span class="notes-editable" data-type="text" data-pk="{{part.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'part'}" data-url="/jb/ajax/update-notes/">{{part.notes}}</span>
                </div>
            </div>


                <div class="row">

                    <div class="col-lg-12">
                        <!-- <form action="{{part.id}}/upload-image/" class="dropzone" id="my-awesome-dropzone">
                            {% csrf_token %} -->
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file-picture-o"></i> Pictures</h3>
                            </div>

                            <div class="panel-body dropzone" action="{{part.id}}/upload-image/" id="image-dropzone">
                                <div class="dz-message" data-dz-message><span>DROP THAT  HERE</span></div>

                                <!-- <div id="previews" class="dropzone-previews"></div> -->
                                <!-- { include "utils/img_upload_preview.html" } -->
                                <!-- <img src="{{ MEDIA_URL }}"+"{{ image_url }}" class="img-rounded" alt="Cinque Terre" width="304" height="236"> -->
                                {% if image_list %}
                                    {% for image in image_list %}
                                    <div class="image-container">
                                    <img src="/media/{{ image.file_path }}" class="img-rounded" alt="" width="" height="236">
                                    <button type="button" value="{{image.id}}" class="btn btn-danger btn-circle pull-right delete-image"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                    {%endfor%}
                                {% endif %}
                                <!-- <button id="clickable">Click me to select files</button> -->
                                <!-- <form action="/file-upload" id="picture-dropzone" class="dropzone"></form> -->
                            </div>
                        </div>
                    <!-- </form> -->
                    </div>

                </div>

                <div class="row ">
                    <div class="col-lg-12 clearfix">
                        {% if permission %}
                        {%if not part.checked_out%}
                            {% include "utils/modals/new_cad.html" %}
                        {%endif%}
                        {%endif%}
                    </div>
                </div>
                <br/>
                <!-- /.row -->
                <div class="row">

                    <!-- cad and 3fms -->
                    <div class="col-lg-12">

                        <div class="panel-group" id="accordion">
                            {% if cad_list %}
                            {% for cad in cad_list %}
                            <div class="panel panel-default">

                              <div class="panel-heading clearfix">


                                    <h4 class="panel-title ">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{cad.id}}">
                                      <i class="fa fa-cube"></i> &nbsp {{cad.name}} - id {{cad.id}}
                                      </a>
                                      <a href="{{part.id}}/download_cad/{{cad.id}}/"><button type="button" class="btn  btn-circle btn-primary"><i class="fa fa-cloud-download fa-fw"></i></button></a>
                                      {% if permission %}
                                      {%if not part.checked_out%}
                                          {% include "utils/modals/checkout_cad.html" %}
                                      {%endif%}
                                      {%endif%}
                                      {%if superpermission%}
                                      <button type="button" value="{{cad.id}}" class="btn btn-danger btn-circle pull-right delete-cad"><i class="glyphicon glyphicon-remove"></i></button>
                                      {%endif%}

                                    </h4>


                              </div>

                                <div id="collapse-{{cad.id}}" class="panel-collapse collapse" style="position:relative;">
                                    <div class="panel-body" style="position:relative;">
                                        <!-- table for 3fm -->
                                        <table  class="table table-condensed table-bordered table-hover" data-toggle="table" style="position:relative;"  data-sort-order="desc" data-search="true" data-sort-name="" data-search-text="">
                                          <thead>
                                                <tr>
                                                    <th data-field="id" data-sortable="true" class="col-xs-0">id</th>
                                                    <th data-field="print" data-sortable="false" class="col-xs-0"></th>
                                                    <th data-field="amf" data-sortable="false" class="col-xs-1">amf</th>
                                                    <th data-field="config" data-sortable="true" class="col-xs-1">config</th>
                                                    <th data-field="configb" data-sortable="true" class="col-xs-1">configb</th>
                                                    <th data-field="gcode" data-sortable="true" class="col-xs-1">gcode</th>
                                                    <th data-field="notes" data-sortable="false" class="col-xs-5">notes</th>
                                                    <th data-field="date" data-sortable="true" class="col-xs-2">date</th>
                                                    <th data-field="creator" data-sortable="true" class="col-xs-1">by
                                                    {% if permission %}
                                                    {%if not part.checked_out%}
                                                        {% include "utils/modals/add-3mf.html" %}
                                                    {%endif%}
                                                    {%endif%}
                                                    </th>

                                                </tr>
                                          </thead>
                                          <tbody>
                                              {% if tmf_per_cad %}
                                                  {% for key, value in tmf_per_cad.items %}
                                                      {% if key == cad.id %}
                                                          {% for tmf in value %}
                                                              <tr>
                                                                  <td><b>{{tmf.id}}</b></td>
                                                                  <td data-title="Print">
                                                                      {%if request.user.id == 1%}{% include "utils/printer_dropdown.html" %}{%endif%}
                                                                      <button id="print-{{tmf.id}}" type="button" style="margin-right:10px" class="btn btn-info btn-sm btn-print" data-toggle="modal" data-target="#modal-printers"><i class="fa fa-print"></i></button>
                                                                  </td>
                                                                  <td><a href="{{part.id}}/download_amf/{{tmf.id}}/">{{tmf.name_amf}}</a></td>
                                                                  <td><a href="{{part.id}}/download_config/{{tmf.id}}/">{{tmf.name_config}}</a></td>
                                                                  <td><a href="{{part.id}}/download_configb/{{tmf.id}}/">{{tmf.name_configb}}</a></td>
                                                                  <td><a href="{{part.id}}/download_gcode/{{tmf.id}}/">{{tmf.name_gcode}}</a></td>
                                                                  <td class="notes-editable" data-type="text" data-pk="{{tmf.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}',type:'3mf'}" data-url="/jb/ajax/update-notes/">{{tmf.notes}}</td>
                                                                  <td>{{tmf.creation_date|timezone:"Asia/Singapore"}}</td>
                                                                  <td>
                                                                      {% for user in users %}
                                                                      {% if user.id == tmf.id_creator %}
                                                                      {{user.first_name}}
                                                                            {%if superpermission%}
                                                                            <button type="button" value="{{tmf.id}}" class="btn btn-danger btn-circle pull-right delete-3mf"><i class="glyphicon glyphicon-remove"></i></button>
                                                                            {%endif%}
                                                                      {% endif %}
                                                                      {% endfor %}
                                                                  </td>
                                                              </tr>
                                                          {%endfor%}
                                                      {% endif %}
                                                  {%endfor%}
                                              {% endif %}
                                          </tbody>
                                        </table>

                                        <!-- table for 2d drawings -->
                                        {% if cad2d_per_cad %}
                                        <table  class="table table-condensed table-bordered table-hover" data-toggle="table" style="position:relative;"  data-sort-order="desc" data-search="true" data-sort-name="" data-search-text="">
                                          <thead>
                                                <tr>
                                                    <th data-field="id" data-sortable="true" class="col-xs-0">id</th>
                                                    <th data-field="cad2d" data-sortable="true" class="col-xs-3">2D Drawing</th>
                                                    <th data-field="notes" data-sortable="false" class="col-xs-5">notes</th>
                                                    <th data-field="date" data-sortable="true" class="col-xs-2">date</th>
                                                    <th data-field="creator" data-sortable="true" class="col-xs-2">by
                                                        {% if permission %}
                                                        {%if not part.checked_out%}
                                                            {% include "utils/modals/add-cad2d.html" %}
                                                        {%endif%}
                                                        {%endif%}
                                                    </th>

                                                </tr>
                                          </thead>
                                          <tbody>

                                                  {% for key, value in cad2d_per_cad.items %}
                                                      {% if key == cad.id %}
                                                          {% for cad2d in value %}
                                                              <tr>
                                                                  <td><b>{{cad2d.id}}</b></td>
                                                                  <td><a href="{{part.id}}/download_cad2d/{{cad2d.id}}/">{{cad2d.name}}</a></td>
                                                                  <td class="notes-editable" data-type="text" data-pk="{{cad2d.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'cad2d'}" data-url="/jb/ajax/update-notes/">{{cad2d.notes}}</td>
                                                                  <td>{{cad2d.creation_date|timezone:"Asia/Singapore"}}</td>
                                                                  <td>
                                                                      {% for user in users %}
                                                                      {% if user.id == cad2d.id_creator %}
                                                                      {{user.first_name}}
                                                                      {% endif %}
                                                                      {% endfor %}
                                                                      {%if superpermission%}
                                                                      <button type="button" value="{{cad2d.id}}" class="btn btn-danger btn-circle pull-right delete-cad2d"><i class="glyphicon glyphicon-remove"></i></button>
                                                                      {%endif%}
                                                                  </td>
                                                              </tr>
                                                          {%endfor%}
                                                      {% endif %}
                                                  {%endfor%}
                                          </tbody>
                                        </table>
                                        {% endif %}

                                        <!-- table for stl -->
                                        {% if stl_per_cad %}
                                        <table  class="table table-condensed table-bordered table-hover" data-toggle="table" style="position:relative;"  data-sort-order="desc" data-search="true" data-sort-name="" data-search-text="">
                                          <thead>
                                                <tr>
                                                    <th data-field="id" data-sortable="true" class="col-xs-0">id</th>
                                                    <th data-field="stl" data-sortable="true" class="col-xs-3">STL</th>
                                                    <th data-field="notes" data-sortable="false" class="col-xs-5">notes</th>
                                                    <th data-field="date" data-sortable="true" class="col-xs-2">date</th>
                                                    <th data-field="creator" data-sortable="true" class="col-xs-2">by
                                                        {% if permission %}
                                                        {%if not part.checked_out%}
                                                            {% include "utils/modals/add-stl.html" %}
                                                        {%endif%}
                                                        {%endif%}
                                                    </th>

                                                </tr>
                                          </thead>
                                          <tbody>

                                                  {% for key, value in stl_per_cad.items %}
                                                      {% if key == cad.id %}
                                                          {% for stl in value %}
                                                              <tr>
                                                                  <td><b>{{stl.id}}</b></td>
                                                                  <td><a href="{{part.id}}/download_stl/{{stl.id}}/">{{stl.name}}</a></td>
                                                                  <td class="notes-editable" data-type="text" data-pk="{{stl.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'stl'}" data-url="/jb/ajax/update-notes/">{{stl.notes}}</td>

                                                                  <td>{{stl.creation_date|timezone:"Asia/Singapore"}}</td>
                                                                  <td>
                                                                      {% for user in users %}
                                                                      {% if user.id == stl.id_creator %}
                                                                      {{user.first_name}}
                                                                      {% endif %}
                                                                      {% endfor %}
                                                                      {%if superpermission%}
                                                                      <button type="button" value="{{stl.id}}" class="btn btn-danger btn-circle pull-right delete-stl"><i class="glyphicon glyphicon-remove"></i></button>
                                                                      {%endif%}
                                                                  </td>
                                                              </tr>
                                                          {%endfor%}
                                                      {% endif %}
                                                  {%endfor%}
                                          </tbody>
                                        </table>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                            {% endif%}
                        </div>
                    </div>

                </div>



                <div class="row">

                </div>

<!-- 2D Drawings -->
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> 2D Drawings</h3>
                            </div>
                            <div class="panel-body">


                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.row -->
<!-- Bulk Files -->
                <div class="row">

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title"><i class="fa fa-star fa-fw"></i> Bulk Files{% include "utils/modals/add-bulk.html" %}</h3>
                            </div>


                            <div class="panel-body dropzone" action="/jb/add-bulk/" id="bulk-dropzone">
                                <input type="hidden" id="id_part" name="id_part" value="{{part.id}}">
                                <input type="hidden" id="notes" name="notes" value="">
                                <input type="hidden" id="bulk_type" name="bulk_type" value="part">
                                <div class="dz-message" data-dz-message><span>DROP THAT  HERE</span></div>
                                <div class="list-group">
                                    {% if bulk_files %}
                                    {% for bulk_file in bulk_files %}
                                    <div class="list-group-item">
                                        <span class="badge">{{bulk_file.creation_date|timezone:"Asia/Singapore"|date:"M d, Y"}}</span>
                                        <a href="/jb/download_bulk/{{bulk_file.id}}/">
                                            <i class="fa fa-fw fa-cloud-download"></i> {{bulk_file.name}} -
                                        </a>
                                        {% if bulk_file.name|extension_gcode %}
                                            <button id="print-{{bulk_file.id}}" type="button" style="margin-right:10px" class="btn btn-info btn-sm btn-print-gcode" data-toggle="modal" data-target="#modal-printers"><i class="fa fa-print"></i></button>
                                        {%endif%}
                                            <small>Notes: <span class="notes-editable" data-type="text" data-pk="{{bulk_file.id}}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}', type:'bulk'}" data-url="/jb/ajax/update-notes/">{{bulk_file.notes}}</span></small>

                                    </div>
                                    {%if superpermission%}
                                    <button type="button" value="{{bulk_file.id}}" class="btn btn-danger btn-circle pull-right delete-bulk"><i class="glyphicon glyphicon-remove"></i></button>
                                    {%endif%}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">26</div>
                                        <div>New Comments!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">12</div>
                                        <div>New Tasks!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>New Orders!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    <!-- </div> -->
    <!-- /#wrapper -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.7.2/jquery-ui.min.js" integrity="sha256-4h4SHCCUAKFl7xWF9JeZp9tnU8lmM5bt6G3kNK6E4ek=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- jQuery -->
    <!-- <script src="{% static 'jb/js/jquery.js' %}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="{% static 'jb/js/bootstrap.min.js' %}"></script> -->

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'jb/js/plugins/morris/raphael.min.js' %}"></script>
    <!-- <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script> -->
    <!-- <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script> -->
    <script src="{% static 'jb/js/dropzone.js' %}"></script>
    <!-- <script src="{% static 'jb/js/picture_dropzone.js' %}"></script> -->
    <script src="{% static 'jb/js/part-detail.js' %}"></script>

    <script src="{% static 'jb/js/printer_state.js' %}"></script>


    <!-- <script src="{% static 'jb/js/printer_state_1.js' %}"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> -->

    <script src="{% static 'jb/js/bootstrap-editable.js' %}"></script>

    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'jb/js/notifications.js' %}"></script>
    {% register_notify_callbacks refresh_period=10 fetch=100 callbacks='fill_notification_list_custom,fill_notification_badge'   %}

</body>

</html>
