{% extends "account/base.html" %}
{% load tz %}
{% load static %}
{% load i18n %}
{% load users_filters %}
{% load account socialaccount %}

{% block head_title %}Reset Password{% endblock %}
{% block extra_head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" />
<link rel="stylesheet" href="{% static 'account/css/animate.min.css'%}" />
<link rel="stylesheet" href="{% static 'account/css/login.css'%}?dev={% random_int %}" />
<link rel="stylesheet" href="{% static 'account/css/checkbox.css'%}" />
{% endblock %}


{% block content %}

    <h1>Reset Password</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
