::-webkit-scrollbar {
    /*width: 0px;
    /*background: transparent; /* make scrollbar transparent */
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.user-pic{
    /*border: 5px solid #FFFFFF;*/
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 0;
}
.button-add-part{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: rgba(255,255,255,0.7);
    float:right;
    /*position:absolute;*/
    top:0px;
    right:0;
    opacity:0.5;
    font-size:2.5rem !important;
    cursor:pointer;
    padding:9px 10px 10px 12px;
    /*margin:20px;*/
    /*z-index:10;*/
    -webkit-box-shadow: 2px 2px 3px rgba(17, 16, 15, 0.1);
    box-shadow: 2px 2px 3px rgba(17, 16, 15, 0.1);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.button-add-part:hover{
    -webkit-box-shadow: 6px 6px 4px rgba(17, 16, 15, 0.1);
    box-shadow: 6px 6px 4px rgba(17, 16, 15, 0.1);
    opacity:1;
}
.button-back{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: rgba(255,255,255,0.7);
    position:absolute;
    top:0px;
    left:0;
    opacity:0.5;
    font-size:2.5rem !important;
    cursor:pointer;
    padding:9px 10px 10px 12px;
    margin:20px;
    z-index:10;
    -webkit-box-shadow: 2px 2px 3px rgba(17, 16, 15, 0.1);
    box-shadow: 2px 2px 3px rgba(17, 16, 15, 0.1);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.button-back:hover{
    -webkit-box-shadow: 6px 6px 4px rgba(17, 16, 15, 0.1);
    box-shadow: 6px 6px 4px rgba(17, 16, 15, 0.1);
    opacity:1;
}
.carousel-inner>.item{
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.stl-canvas{
    width:100%;
    max-width:300px;
    border-radius:6px;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
}
.table-billing-per-order tbody tr[data-toggle="collapse"]{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}
.table-billing-per-order tbody tr[data-toggle="collapse"]:hover{
    background-color: #F4F3EF;
}
.table-billing-per-order tbody tr[aria-expanded="true"]{
    background-color: #F4F3EF;
}
.progressBar{
    width:92%;
    height:6px;
    border-radius: 4px;
    margin:0px 10px 0px 10px;
    overflow: hidden;
    background-color: #e6e6e6;
    opacity:0;
    -webkit-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.progressBar-inner{
    width:0%;
    height:100%;
    background-color: #6dbad8;
    -webkit-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width 0.2s ease-in-out;
}
.dz-preview{
    display:none;
}
.file-row{
    padding:8px 15px 8px 15px;
    margin:0 0 2px 0;
    position:relative;
    overflow:hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.file-row>i{
    margin:0px 20px 0px 0px;
}
.dz-drag-hover .card{
    background-color:#72d4f1;
}
.row.equal-height{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.no-padding{
    padding:0px;
}
.no-padding-left{
    padding-left:0px;
}
.timeline-date{
    text-align:right;
}
.timeline-description div{
    margin-bottom: 10px;
}
.timeline-circles{
    font-size:1.8rem;
    width:0px;
}
.timeline-circles .border-right{
    width:100%;
}
.timeline-circles .border-right:nth-child(1){
    height:1.6rem;
}
.timeline-circles .border-right:nth-child(2){
    height:calc(100% - 1.6rem + 16px);
    border-right:solid #c5c5c5 1px;
}
.timeline-circles i{
    position:absolute;
    right:0;
    margin-right:-1.15rem;
    color: #949494;
}
#timeline-card{
    max-height:500px;
    overflow-y:scroll;
}
#timeline-card:after {
    content:'';
    width:100%;
    height:100%;
    border-radius: 3px;
    position:absolute;
    left:0;
    top:0;
    /* Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(white 0%, transparent 10%,transparent 85%, white 100%);
    /* Opera 11.1 to 12.0 */
    background: -o-linear-gradient(white 0%, transparent 10%,transparent 85%, white 100%);
    /* Firefox 3.6 to 15 */
    background: -moz-linear-gradient(white 0%, transparent 10%,transparent 85%, white 100%);
    /* Standard syntax */
    /*background: linear-gradient(red, yellow 10%, green 20%);*/
    background:linear-gradient(white 0%, transparent 10%,transparent 85%, white 100%);
}
.file-row{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}
.card-top-icon{
    font-size:2.8rem !important;
    position:absolute;
    color:#7d7d7d;
    top:-17px;
    right:8px;
    z-index:2;
}
.card-plus-icon{
    font-size:1.5rem !important;
    position:absolute;
    color:#7d7d7d;
    top:0;
    left:calc(30px + 1.5rem);;
    padding:15px;
    z-index:2;
    cursor:pointer;
    background-color: #f0f8ff;
}
.card-plus-icon:hover{
    background-color: #ddecf9;
}
.remove-icon{
    font-size:1.5rem !important;
    color:#7d7d7d;
    z-index:2;
    cursor:pointer;
    background-color: #fff0f0;
}
.remove-icon:hover{
    background-color: #f9dbdb;
}
.allow-remove{
    position:absolute;
    top:0;
    left:0;
    padding:15px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.allow-remove.allowed{
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.remove-file{
    position:absolute;
    display:flex;
    align-items: center;
    top:0;
    right:-100px;
    height:100%;
    width:100px;
    justify-content: center;
    background-color: #fdb7b7;
    -webkit-transition: right .2s ease-in-out;
    -o-transition: right .2s ease-in-out;
    transition: right 0.2s ease-in-out;
}
.remove-file.visible{
    right:0px;
}
.subcategory{
    cursor:pointer;
    color:#e28d00;
}
.subcategory[aria-expanded="true"] i{
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.subcategory i{
    display:inline-block;
    margin:0 15px 0 25px;
    font-size:1.2rem;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.subcategory:hover{
    color:#efa428;
}
.dim-input{
    display:inline-block;
    max-width:60px;
}
.unit-input{
    display:inline-block;
    max-width:85px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
