<form action="add-part/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}
    <div class="form-group">
      <label for="oem">OEM</label>
      <select class="form-control" name="oem" id="oem">
        {%if oems%}
            {%for oem in oems%}
                <option>{{oem.name}}</option>
            {%endfor%}
        {%endif%}
      </select>
    </div>
  <div class="form-group">
    <label for="part-number">Part Number</label>
    <input type="text" class="form-control" name="part-number" id="part-number" aria-describedby="" placeholder="Enter part number" required>
    <small id="" class="form-text text-muted">choose non-existent part number</small>
  </div>

  <div class="form-group">
    <label for="part-name">Part Name</label>
    <input type="text" class="form-control" name="part-name" id="part-name" aria-describedby="" placeholder="Enter part name" required>
    <small id="" class="form-text text-muted">give an explicit part name</small>
  </div>

  <div class="form-group">
    <label for="permissions">Permissions to edit</label>
    <select multiple class="form-control" name="permissions" id="permissions" required>
    {%if users%}
    {%for user in users%}
      <option value={{user.id}}>{{user.first_name}} {{user.last_name}}</option>
    {%endfor%}
    {%endif%}
    </select>
  </div>
  <div class="form-group">
    <label for="notes">Notes</label>
    <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
  </div>
  <!-- add a cad at the same time -->

  <!-- <div class="form-group">
    <label for="cad">CAD</label>
    <input type="file" class="form-control-file" id="cad" name="cad" aria-describedby="fileHelp">
    <label class="form-check-label text-light">
      <input type="checkbox" name="is_oem" class="form-check-input">
      this CAD is the reference OEM CAD
    </label>
  </div> -->
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>
