<!-- Navigation Bar -->
{% block navbar %}
  <nav class="navbar navbar-fixed-top navbar-default " >
    {% if part %}
    <a class="navbar-brand" href="http://localhost:5000/local/{{part.id}}">
    {% else %}
    <a class="navbar-brand" href="http://localhost:5000/parts">
    {%endif%}
    <img src="/static/parts/icons/sp3d.png"  height="35" alt="">
    </a>
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/parts">Parts</a></li>
            <li><a href="/parts/prints">Print Log</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/parts/orders/">Open Orders</a></li>
                <li><a href="/parts/orders/closed/">Closed Orders</a></li>
                <!-- <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right top-nav">
              <!-- parts engineering status -->
                {% if part %}
                    {% with part.id|stringformat:"s" as part_id %}
                        {% with "/parts/part-detail/"|add:part_id as part_detail_path %}
                            {% if request.path == part_detail_path %}
                            <!-- we checked that we are on a part detail page -->
                            <li class="dropdown dropdwon-status">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
                                  {% for status in status_eng_list %}
                                  {% if status.id == part.status_eng %}
                                  <span class="label label-{{status.id}}">{{status.name}}</span>
                                  {% endif %}
                                  {% endfor %}
                                  <span class="caret"></span>
                              </a>
                              {% if permission %}
                              <ul class="dropdown-menu" style="text-align:center; width: 50px">
                                  {% for status in status_eng_list %}
                                  <li><a class="change-status-eng" id="{{part.id}}-{{status.id}}" href="#" role="button"><span class="label label-{{status.id}}">{{status.name}}</span></a></li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                            </li>
                            <!-- get the username of the one who checked out -->
                                {% if part.checked_out %}
                                    {%for user in users%}
                                        {%if user.id == part.checked_out_by%}
                                            <li><a>Checked out by {{user.first_name}}</a></li>
                                        {%endif%}
                                    {%endfor%}
                                {%endif%}

                            {%endif%}
                        {%endwith%}
                    {%endwith%}
                {% endif %}

                <!-- order status -->
                {% if order %}
                    {% with order.id|stringformat:"s" as order_id %}
                        {% with "/parts/orders/order-detail/"|add:order_id|add:"/" as order_detail_path %}
                            {% if request.path == order_detail_path %}

                            <!-- we checked that we are on a order detail page -->
                            <li class="dropdown dropdwon-status">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >

                                  {% if order.status_ord == 0 %}
                                  <span class="label label-default">opened</span>
                                  {%else%}
                                  <span class="label label-success">closed</span>
                                  {% endif %}


                                  <span class="caret"></span>
                              </a>

                              <!-- get the username of the one who closed -->
                              {% if order.status_ord == 1 %}
                                  {%for user in users%}
                                      {%if user.id == order.status_ord%}
                                          <li><a>Closed by {{user.username}}</a></li>
                                      {%endif%}
                                  {%endfor%}
                              {%endif%}

                              {%if order.status_ord == 0%}
                              {% if permission == 1 %}
                              <ul class="dropdown-menu" style="text-align:center; min-width:50px; width: 93px !important">
                                  {% if order.status_ord == 0 %}
                                  <li><a class="change-status-order" id="{{order.id}}-1" href="#" role="button"><span class="label label-success">closed</span></a></li>
                                  {%else%}
                                  <li><a class="change-status-order" id="{{order.id}}-0" href="#" role="button"><span class="label label-default">opened</span></a></li>
                                  {%endif%}
                              </ul>
                              {% endif %}
                              {% endif %}
                            </li>


                            {%endif%}
                        {%endwith%}
                    {%endwith%}
                {% endif %}




                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                  <ul class="dropdown-menu message-dropdown">
                      <li class="message-preview">
                          <a href="#">
                              <div class="media">
                                  <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="">
                                  </span>
                                  <div class="media-body">
                                      <h5 class="media-heading"><strong>John Smith</strong>
                                      </h5>
                                      <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="message-preview">
                          <a href="#">
                              <div class="media">
                                  <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="">
                                  </span>
                                  <div class="media-body">
                                      <h5 class="media-heading"><strong>John Smith</strong>
                                      </h5>
                                      <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="message-preview">
                          <a href="#">
                              <div class="media">
                                  <span class="pull-left">
                                      <img class="media-object" src="http://placehold.it/50x50" alt="">
                                  </span>
                                  <div class="media-body">
                                      <h5 class="media-heading"><strong>John Smith</strong>
                                      </h5>
                                      <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                      <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="message-footer">
                          <a href="#">Read All New Messages</a>
                      </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                  <ul class="dropdown-menu alert-dropdown">
                      <li>
                          <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                      </li>
                      <li>
                          <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                      </li>
                      <li>
                          <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                      </li>
                      <li>
                          <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                      </li>
                      <li>
                          <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                      </li>
                      <li>
                          <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#">View All</a>
                      </li>
                  </ul>
                </li>

            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            {%else%}
                <li><a href="/login">Log in</a></li>
            {% endif%}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
{% endblock navbar %}
