{% block printer_statusbar %}
    <div class="row printer_statusbar" style=" ">
        <!-- pass printers variables to javascript -->
        <script type="text/javascript">
        var myPrinters= {};
        {%for printer in printers%}
           myPrinters[{{printer.id}}] = {name:"{{printer.name}}", ip:"{{printer.local_ip}}"};
        {%endfor%}
        </script>
        <div class="col-lg-2 col-sx-2 col-centered"></div>
        {%for printer in printers%}
            <div class="col-lg-1 col-sx-1 col-centered">
                <span id="printer-label-{{printer.id}}" class="label printer-label label-default">{{printer.name}} Disconnected</span>
            </div>
        {%endfor%}

    </div>
{% endblock printer_statusbar %}
