
          <!-- Trigger the modal with a button -->
            <button id="add_client" type="button" style="margin-right:10px" class="btn btn-info btn-sm btn-lg pull-right" data-toggle="modal" data-target="#modal-add-client">+ client</button>
            <!-- Modal -->
            <div id="modal-add-client" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Client</h4>
                  </div>
                  <div class="modal-body">

                      <form action="/jb/add-client/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}

                        <div class="form-group">
                          <label for="client-name">Client name</label>
                          <input type="text" class="form-control" name="client-name" id="client-name" aria-describedby="" placeholder="Enter client Name" required>
                          <small id="" class="form-text text-muted">choose non-existent client name</small>
                        </div>

                        <div class="form-group">
                          <label for="client-code">Client Code Name</label>
                          <input type="text" class="form-control" name="client-code" id="client-code" aria-describedby="" placeholder="Enter client code" required>
                          <small id="" class="form-text text-muted">usually 3 to 5 letters</small>
                        </div>

                        <div class="form-group">
                          <label for="type">Activity</label>
                          <select class="form-control" name="activity" id="activity" required>
                                    <option value="corpo_gift">Corporate Gift</option>
                                    <option value="engineering_services">Engineering Services</option>
                                    <option value="home_app_manu">Home Appliance Manufacturing</option>
                                    <option value="plastic_inj">Plastic Injection</option>
                                    <option value="proto">Prototyping</option>
                                    <option value="sp_prt_dist">Spare Parts Distributor</option>
                                    <option value="b2c_e_commerce">B2C e-commerce</option>

                          </select>
                        </div>

                        <div class="form-group">
                          <label for="address">Address</label>
                          <textarea class="form-control" id="address" name="address" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="notes">Notes</label>
                          <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                      </form>


                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
