{% load tz %}
          <!-- Trigger the modal with a button -->
            <!-- <button id="update_order" type="button" style="margin-right:10px" class="btn btn-info btn-lg btn-sm pull-right" data-toggle="modal" data-target="#modal-add-order">+ order</button> -->
            <button id="part_to_order" type="button" class="btn btn-default btn-circle" style="margin-left:0px" data-toggle="modal" data-target="#modal-part-to-order"><i class="fa fa-fw fa-list"></i></button>
            <!-- Modal -->
            <form action="/jb/part-to-order/" method="post" enctype="multipart/form-data" class="clearfix">{% csrf_token %}
            <div id="modal-part-to-order" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="width:160%; margin-left:-30%" >
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Parts to Order: <small><span id="sumup"></span></small></h4>
                  </div>

                  <div class="modal-body" >
                          <input type="hidden" name="order_id" value="{{order.id}}">
                          <div class="input-group"> <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                              <input id="filter-parts-to-order" type="text" class="form-control" placeholder="Search...">
                          </div>
                          <ul class="nav nav-pills">
                              {%for oem in oems%}
                              <!-- <li class="active"><a data-toggle="pill" href="#home">Home</a></li> -->
                              <li><a data-toggle="pill" href="#{{oem.id}}">{{oem.name}}</a></li>
                              {%endfor%}
                          </ul>


                          <div class="tab-content" style="max-height:65vh; overflow-y: scroll;">
                              {%for oem in oems%}
                              <div id="{{oem.id}}" class="tab-pane fade in">

                                  <table  class="table table-condensed table-bordered table-hover" data-toggle="table"   data-sort-order="desc"  data-sort-name="date" data-search-text="">
                                                <thead >
                                                  <tr>
                                                    <th data-field="cb" class="col-xs-0"></th>
                                                    <th data-field="qtty" class="col-xs-0"></th>
                                                    <th data-field="id" class="col-xs-0">id</th>

                                                    <th data-field="part_number" data-sortable="false" class="col-xs-3">Part Number</th>
                                                    <th data-field="part_name" data-sortable="false" class="col-xs-4">Part Name</th>
                                                    <th data-field="created_by" data-sortable="false" class="col-xs-1">created by</th>
                                                    <th data-field="date" data-sortable="false" class="col-xs-3">on</th>
                                                    <th data-field="status" data-sortable="false" class="col-xs-1">Status</th>

                                                  </tr>
                                                </thead>
                                                <tbody class="searchable searchable-parts-to-order">

                                                      {%for key, part_list in latest_part_list.items %}
                                                          {%if key == oem.id %}
                                                            {%for part in part_list%}
                                                              <tr class="">
                                                                <td class="align-middle">
                                                                    <div class="checkbox checkbox-success" style="margin-top:0px;margin-bottom:0px; height:17px">
                                                                        <input id="cb-{{part.id}}" name="parts" value="{{part.id}}" type="checkbox" >
                                                                        <label class="part-cb" onclick="toggle_qtty({{part.id}})" id="label-{{part.id}}" for="cb-{{part.id}}"></label>
                                                                    </div>
                                                                </td>
                                                                <td><input id="qtty-{{part.id}}" onchange="save_qtty({{part.id}})" type="number" tabindex="-1" name= "qtty-{{part.id}}" min="0" step="1" style="width:40px;height:17px" disabled/></td>
                                                                <td scope="row" class="align-middle"><b>{{part.id}}</b></td>

                                                                <td class="align-middle"><a href="{% url 'parts:part_detail' id_part=part.id %}">{{part.part_number}}</a></td>
                                                                <td class="align-middle"><a href="{% url 'parts:part_detail' id_part=part.id %}">{{part.part_name}}</a></td>
                                                                <td class="align-middle">{%for user in users%}{%if user.id == part.id_creator%}{{user.username}}{%endif%}{%endfor%}</td>
                                                                <td class="align-middle">{{ part.creation_date|timezone:"Asia/Singapore"|date:"d/m/y H:i:s" }}</td>
                                                                {% for status in status_eng_list %}
                                                                {% if status.id == part.status_eng %}
                                                                <td class="align-middle" class="">
                                                                    <span class="label label-{{status.id}}">{{status.name}}</span>
                                                                </td>
                                                                {% endif %}
                                                                {% endfor %}

                                                              </tr>
                                                              {%endfor%}
                                                          {%endif%}
                                                      {%endfor%}

                                                </tbody>
                                              </table>



                              </div>
                              {%endfor%}

                            </div>






                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" onclick="clear_all()">Clear All</button>
                       <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add Selected</button>



                  </div>
                </div>

              </div>
            </div>
            </form>
