{% block printer_dropdown %}
    <div class="dropdown printer_dropdown" style="">

        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-print"></i></a> -->
        <button href="#" class="dropdown-toggle btn btn-sm" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-print"></i></button>
        <ul class="dropdown-menu alert-dropdown" style="z-index:100;">
            <li>
                <a href="" id="print-{{ tmf.id }}" class="c1 c1-link">C1 <span class="label c1-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="c2 c2-link">C2 <span class="label c2-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="c3 c3-link">C3 <span class="label c3-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="c4 c4-link">C4 <span class="label c4-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="c5 c5-link">C5 <span class="label c5-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="c6 c6-link">C6 <span class="label c6-label label-default">Disconnected</span></a>
            </li>
            <li>
                <a href="#" id="print-{{ tmf.id }}" class="wanaho wanaho-link">Wanaho <span class="label wanaho-label label-default">Disconnected</span></a>
            </li>
			<li>
                <a href="#" id="print-{{ tmf.id }}" class="replicator replicator-link">Replicator <span class="label replicator-label label-default">Disconnected</span></a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">View All Printers</a>
            </li>

        </ul>
    </div>
{% endblock printer_dropdown %}
