{%extends 'digital/base.html'%}
{% load static %}
{% load digital_filters %}
{%block content%}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'digital/img/background.jpg' %}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="user">
                                    {%if user.profile_thumb%}
                                    <div class="avatar border-white" style="display:inline-block; background-image: url({{user.profile_thumb.url}});">
                                        <div class='avatar-black-filter' data-toggle="modal" data-target="#modalProfilePic"><span class='ti-camera'></span></div>
                                    </div>
                                    {%else%}
                                    <div class="avatar border-white" style="display:inline-block; background-image: url({% static 'digital/img/faces/face-0.png' %});">
                                        <div class='avatar-black-filter' data-toggle="modal" data-target="#modalProfilePic"><span class='ti-camera'></span></div>
                                    </div>
                                    {% endif %}
                                  <h4 class="title">{{user.first_name}} {{user.last_name}}<br />
                                     <a href="#"><small>@{{user.first_name}}</small></a>
                                  </h4>
                                </div>
                                {%if user.title %}
                                <p class="description text-center">
                                    {{user.title}}
                                </p>
                                {%endif%}
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Orders</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Made</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Team Members</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                    {%for member in team_members%}
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="avatar">
                                                    {%if member.profile_thumb%}
                                                    <img src="{{member.profile_thumb.url}}" alt="Profile pic" class="img-circle img-no-padding img-responsive">
                                                    {%else%}
                                                    <img src="{% static 'digital/img/faces/face-0.png' %}" alt="Profile pic" class="img-circle img-no-padding img-responsive">
                                                    {%endif%}
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                {{member.first_name}} {{member.last_name}}
                                                <br />
                                                <span class="text-muted"><small>Offline</small></span>
                                            </div>

                                            <div class="col-xs-3 text-right">
                                                <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                            </div>
                                        </div>
                                    </li>
                                    {%endfor%}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input type="text" class="form-control border-input" disabled placeholder="Company" value="Creative Code Inc.">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control border-input" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control border-input" placeholder="Company" value="Chet">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <input type="text" class="form-control border-input" placeholder="City" value="Melbourne">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <input type="text" class="form-control border-input" placeholder="Country" value="Australia">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <input type="number" class="form-control border-input" placeholder="ZIP Code">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="card card-map" style="overflow:hidden">
                            <!-- <div class="content"> -->
                                <!-- <div class="container-fluid"> -->
                    					<!-- <div class="header">
                                            <h4 class="title">Your Location</h4>
                                        </div> -->
                    					<div class="map">
                    						<div id="map"></div>
                    					</div>
                    			<!-- </div> -->
                    		<!-- </div> -->
                        </div>
                    </div>


                </div>
            </div>
        </div>



{%endblock content%}

{%block extrascript%}
{%include 'digital/utils/modal-profile-pic.html'%}
<script src="{% static 'digital/js/account.js' %}?dev={% random_int %}"></script>
{%endblock extrascript%}
