{%extends 'digital/base.html'%}
{% load static %}
{% load digital_filters %}
{%block content%}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Printability Prediction</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <form id="form_printability_analysis" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                            <p><input class="form-control" type="file" name="file" accept=".csv"></p>
                                            <button class="btn" type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Financial Analysis (obsolete parts)</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock content%}

{%block extrascript%}
{%include 'digital/utils/modal-notif.html'%}
<script src="{% static 'digital/js/analysis.js' %}?dev={% random_int %}"></script>
{%endblock extrascript%}
